/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(219, 69%, 56%);
  --first-color-alt: hsl(219, 69%, 52%);
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  --body-color: hsl(219, 4%, 4%);
  --container-color: hsl(219, 4%, 7%);
  --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  --border:.1rem solid rgba(0,0,0,.1);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Exo', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

.shape{
  background-color: hsla(219,33%,32%,.5);
  filter: blur(112px);
  border-radius: 50%;
}
.shape__big{
  width: 400px;
  height: 400px;
}
.shape__small{
  width: 300px;
  height: 300px;
}

.shape__smaller{
  width: 180px;
  height: 180px;
  filter: blur(64px);
}

/*=============== HEADER & NAV ===============*/
.header{
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle{
  color: var(--title-color);
  display: inline-flex;
}
.nav__logo{
  align-items: center;
  column-gap:.25rem ;
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__logo i{
  font-size: 1.25rem;
}
.nav__logo:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width:767px){
  .nav__menu{
    position:fixed;
    background-color: hsla(0, 0%, 100%, .1);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(96px);
    transition: .3s;
  }
}

.nav__list{
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.nav__link{
  text-transform: uppercase;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__close{
  font-size: 2rem;
  color: var(--white-color);
  position: absolute;
  top:1rem;
  right: 1rem;
  cursor: pointer;
}

/* Show menu */
.show-menu{
  right: 0;
}

/* Change background header */
.scroll-header{
  border-radius: 0 0 1rem 1rem;
  background-color: var(--body-color);
  box-shadow: 0 2px 4px hsla(0,0%,1%,1);
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home{
  position: relative;
  overflow: hidden;
}

.home__container{
  position: relative;
  padding-top: 4rem;
  row-gap: 3rem;
}

.home__data{
  text-align: center;
}

.home__title{
  font-size: var(--h1-font-size);
  margin-bottom: 1rem;
}

.home__subtitle{
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}

.home__elec{
  font-size: var(--small-font-size);
  font-weight: 400;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

.home__elec i{
  color: var(--first-color);
}

.home__img{
  height: 350px;
  justify-self: center;
}
.home__img{
  animation: floaty 1.8s infinite alternate;
}
/* Animate ghost*/
@keyframes floaty {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(15px);
  }
}

.home__bike{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  margin-bottom: 0rem;
}

.home__bike-name{
  font-size: .625rem;
  font-weight: 400;
  color: var(--text-color-light);
}

.home__bike-data{
  text-align: center;
}
.home__bike-number{
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}
.home__bike-icon{
  background-color: var(--container-color);
  border-radius: 50%;
  padding: .376rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
  margin-bottom: .75rem;
}

.home__button{
  position: relative;
  border: 2px solid 	hsl(178, 100%, 32%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self:center;
  font-size: var(--small-font-size);
  color: var(--white-color);
  font-weight: var(--font-medium);
}

.home__button::before{
  content: '';
  border: 2px solid 	hsl(178, 100%, 32%) ;
  width: 90px;
  height: 90px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 12px hsl(178, 100%, 32%) ;
  transition: .3s;
  animation: button 3s infinite
}

.home .shape__big,
.home .shape__small{
  position: absolute;
}
.home .shape__big{
  left: -9rem;
  top:-4rem
}
.home .shape__small{
  right: -10rem;
  bottom: 3rem;
}

@keyframes button {
  0%{
    box-shadow: 0 0 12px hsl(178, 100%, 32%) ;
  }
  50%{
    box-shadow: 0 0 36px hsl(178, 100%, 32%) ;
  }
}



/*=============== FEATURES ===============*/
.features{
  overflow: hidden;
  position: relative;
}
.features__container{
  padding-top: 2rem;
  grid-template-columns: 285px;
  justify-content: center;
}
.features__group{
  display: grid;
  position: relative;
  z-index: 10;
}
.features__img{
  width: 260px;
  justify-self: center
}

.features__cards{
  width: 120px;
  height: 80px;
  background-color: hsla(0, 0%, 100%, .1);
  backdrop-filter: blur(10px);
  border-radius: 1.25rem;
  padding: .75rem 2rem;
  text-align: center;
  color: var(--title-color);
  position: absolute;
}
.features__card-1{
  top:2rem;
  left:0rem;
}
.features__card-2{
  top: 6rem;
  right: 0rem;

}
.features__card-3{
  left: 0rem;
  bottom: 5rem;

}
.features__card-4{
  top: 16rem;
  right: 0rem;
  padding-top: 1.2rem;
}
.features__card-title{
  font-size: var(--h3-font-size);
}

.features__card-description{
  font-size: var(--smaller-font-size);
}
.features__map{
  max-width: initial;
  width: 450px;
  position: absolute;
  top: 8rem;
  left: -3rem;
  margin: auto;
  opacity: 80%;
}


/*=============== BUTTON ===============*/

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: .5rem;
  font-size: var(--normal-font-size);
  transition: .3s;
  border: none;
}
.button__loader{
  border: none;
  outline: none;
  position: relative;
  padding: 1.25rem 2.5rem;
  background-color:var(--first-color-alt) ;
  color: #fff;
  font-size: 1rem;
  border-radius: .5rem;
  box-shadow: 0 18px 40px rgba(80, 139, 206, 0.3);
  overflow: hidden;
  cursor: pointer;
}

.button__loader::before{
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  border-radius: .5rem;
  width: 150%;
  height: 100%;
  background: repeating-linear-gradient(
    60deg,
    transparent,
    transparent .75rem,
   var(--first-color) .75rem,
   var(--first-color) 1.5rem);
  animation: load 1s infinite linear;
}
.button__text{
  position: relative;
}

@keyframes load {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-1.75rem);
  }
}
/*=============== ABOUT ===============*/

.about__container{
  row-gap: 6rem;
}
.about__group{
  position: relative;
}
.about__img{
  width: 310px;
  border-radius: .5rem;
}

.about__card{
  width: 180px;
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  background-color: hsla(0, 0%, 100%, .1);
  backdrop-filter: blur(16px);
  padding: 1rem .75rem;
  text-align: center;
  border-radius: 1.25rem;
}
.about__card-title{
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
  
}
.about__card-description{
  font-size: var(--smaller-font-size);
}
.about__title{
  text-align: initial;
  margin-bottom: 2rem;
}
.about__description{
  margin-bottom: 2rem;
}




/*=============== POPULAR ===============*/
.popular__container{
  padding-top: 1rem;
}
.popular__card{
  position: relative;
  width: 238px;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}

.popular__card .shape__smaller{
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
}
.popular__title,
.popular__subtitle,
.popular__img{
  position: relative;
}

.popular__title{
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
}

.popular__subtitle{
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
}

.popular__img{
  width: 200px;
  margin: .75rem 0 1rem 1rem;
  transition: .3s;
}

.popular__data{
  display: grid;
  grid-template-columns: repeat(2,max-content);
  gap: .5rem 1rem;
  margin-bottom: 2rem;
}
.popular__data-group{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
  color: var(--white-color);
}

.popular__data i{
  font-size: 1rem;
}

.popular__price{
  font-size: var(--h3-font-size);
}
.popular__button{
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0 ;
  cursor: pointer;
}
.popular__button i{
  font-size: 1.25rem;
}

.popular__card:hover .popular__img{
  transform: translateY(-.50rem);
}

/* Swiper class */
.swiper-pagination-bullet{
  background:var(--text-color);
}
.swiper-pagination-bullet-active{
  background-color:var(--first-color);
}


/*=============== services ===============*/
.services .box-container{
  padding: 2rem 9%;
  display: grid;

  gap: 3rem;
  grid-template-columns: repeat(1,1fr);

}

.services .box-container .box{

  text-align: center;
  background: rgba(156, 156, 156, 0.103);
  padding: 2rem;
  border-radius: .5rem;

  cursor: pointer;
}

.services .box-container .box i{
  height: 6rem;
  width: 6rem;
  padding: .8rem;
  line-height: 6rem;
  font-size: 2.5rem;
  color: black;
  background: #4178dc;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.services__description{
  font-size: var(--small-font-size);
  padding-top: .5rem;
}

.services .box-container .box p{
  font-size: var(--smaller-font-size);
  
}
.services .box-container .box h3{
  font-size:var(--h3-font-size);
}

.services .box-container .box:hover{
  background: #4178dc;
  transition: .5s;
}
.services .box-container .box:hover i{
  background:var(--white-color);
  transition: .5s;
}


/*=============== Charger ===============*/
.charger{
  position: relative;
}


.charger__bg{
  position:absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover ;
  object-position: center;
  opacity: 20%;
  border-radius: 1rem;
}
.charger__data,
.charger_img{
  position: relative;
}

.charger__data{
  text-align: center;
}
.charger__title{
  margin-bottom: 2rem;
}
.charger__description{
  margin-bottom: 2rem;
}
.button__charger{
  position: relative;
  cursor: pointer;
}


/*=============== FEATURED ===============*/
.featured__container{
  padding-top: 1rem;
}

.featured__filters{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-bottom: 3.5rem;
}

.featured__item{
  width: 44px;
  height: 44px;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: .75rem;
  background-color: var(--container-color);
  color: var(--white-color);
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: .3s;
}

.featured__item img{
  width: 1.5rem;
}

.featured__item span,
.featured__item img{
  opacity: .3;
  transition: .3s;
}
.featured__item:hover{
  background-color: var(--first-color);
}

.featured__item:hover span,
.featured__item:hover img{
  opacity: 1;
}

.featured__content{
  grid-template-columns: 268px;
  row-gap: 2.5rem;
  justify-content: center;
}
.featured__card{
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem 1rem 1rem 1rem;
}

.featured__card .shape__smaller{
  position:absolute;
  inset: 0;
  margin: auto;
}

.featured__title,
.featured__subtitle,
.featured__img{
  position: relative;
}
.featured__title{
  font-size: var(--h2-font-size);
  margin-bottom: .25rem;
}
.featured__subtitle{
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
}

.featured__img{
  width: 200px;
  margin: 1.5rem 0;
  transition: .3s;
}
.featured__price{
  font-size: var(--h3-font-size);
}

.featured__button{
  border: none;
  outline: none;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}

.featured__button i{
  font-size: 1.25rem;
}

.featured__card:hover .featured__img{
  transform: translateX(-.25rem);
}
/* Active link featured */
.active-featured{
  background-color: var(--first-color);
}
.active-featured span,
.active-featured img{
  opacity: 1;
}
/*=============== appointment ===============*/

.appointment{
  text-align: center;
}

.appointment__bg{
  background-color: hsl(219, 4%, 7%);
  padding-top: 3rem;
}

.appointment__title{
  font-size: 1.25rem;
  margin-bottom: .75rem;
}

.appointment__description{
  margin-bottom: 1.5rem;
  font-size: .85rem;
}

.appointment__title,
.appointment__description{
  color:  hsl(219, 8%, 95%);
}
.appointment__img{
  width: 232px;
  justify-self: center;
  border-radius: .5rem;
  padding-bottom: 1rem;
}

.appointment__icon{
  justify-content: center;
  align-items: center;
  
}
/*=============== Testimonals ===============*/
.testimonal{
  position: relative;
  width: 100%;
  overflow: hidden;
}
.testimonal__heading{
  display: inline-block;
  position: relative;
  color: var(--first-color);
  font-size: 2rem;
  width: 100%;
  text-align: center;
  font-weight: 800;
}
.testimonal__heading b{
  color: var(--white-color);
}
.testimonal__wrapper{
  padding-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonal__container{
  position: relative;
  width: 350px;
  color: var(--text-color);
  background: var(--container-color);
  margin: 40px 10px;
  padding: 30px 20px;
  border-radius: .7rem;
  transition: .3s ease;
}
.testimonal__profile{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10%;
  width: 100%;
  display: block;
}
.testimonal__imgBox{
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  border: 8px solid  hsl(219, 4%, 4%);
  border-radius: 50%;
  overflow: hidden;
}
.testimonal__imgBox img{
  position:absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: .3s ease;
}

.testimonal__profile h2{
  padding: 5px 0;
  text-transform: capitalize;
  color: var(--text-color);
  letter-spacing: 1px;
  text-align: center;
}

.testimonal__container p{
  margin-top: 50px;
  color: var(--text-color);
  padding: 0 8px;
  font-size: .85rem;
}
.testimonal__container .quote__left{
  font-size: 2rem;
  display: block;
  text-align: left;
  color: var(--first-color);
}
.testimonal__container .quote__right{
  font-size: 2rem;
  display: block;
  text-align: right;
  color: var(--first-color);
}

.testimonal__container:hover{
  background: var(--first-color);
    
}
.testimonal__container:hover p{
  color: #fff;
    
}
.testimonal__container:hover h2{
  color: #fff;
}
.testimonal__container:hover .quote__left{
  color: #fff;
}
.testimonal__container:hover .quote__right{
  color: #fff;
}


/*=============== Contact us ===============*/
.contact{
  margin-left: 2rem;
  margin-right: 2rem;
}
.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.contact .row .map{
  margin-top: 1.3em;
  flex:1 1 42rem;
  width: 100%;
  padding:2rem;
  border: 2px solid var(--first-color);
  border-radius: 1rem;
}

.contact .row form{
  flex:1 1 42rem;
  text-align: center;
  border-radius: .5rem;
}

.contact .row form h3{
  font-size: 1.5rem;
  color:var(--text-color);
  padding-bottom: 1rem;
}

.contact .row form .box{
  width:100%;
  border-radius: .5rem;
  padding:1rem 1.2rem;
  font-size: 1rem;
  text-transform: none;
  background: var(--container-color);
  margin:.7rem 0;
  border: 1px solid var(--border);
}

.contact .row form textarea{
  height:15rem;
  resize: none;
}

/*=============== FOOTER ===============*/
.footer{
  position: relative;
  overflow: hidden;
}
.footer .shape__big,
.footer .shape__small{
  position: absolute;
}

.footer .shape__big{
  width: 300px;
  height: 300px;
  left: -12rem;
  top: 6rem;
}
.footer .shape__small{
  right: -13rem;
  bottom: -6rem;
}
.footer__container{
  row-gap: 2.5rem;
  position: relative;
}

.footer__logo{
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1.25rem;
  transition: .3s;
}
.footer__logo i{
  font-size:1.5rem;
  font-weight: 500;
}
.footer__logo:hover{
  color: var(--first-color);
}
.footer__title{
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}
.footer__links{
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
}
.footer__link{
  color: var(--text-color);
  transition: .3s;
}

.footer__link:hover{
  color: var(--title-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  background-color: hsl(219, 4%, 16%);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb{
  background-color: hsl(219, 4%, 24%);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(219, 4%, 32%);
  border-radius: 1rem;
}

/*=============== SCROLL UP ===============*/
.scrollup{
  position:fixed;
  right: 1rem;
  bottom: -30%;
  background-color: hsla(0, 0%, 100%, .1);
  backdrop-filter: blur(16px);
  display: inline-flex;
  padding: .45rem;
  border-radius: .5rem;
  font-size: 1.15rem;
  color: var(--white-color);
  z-index: var(--z-tooltip);
  transition: .4s
}
.scrollup:hover{
  transform: translateY(-.25rem);
}

/* Show Scroll Up*/
.show-scroll{
  bottom: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container{
    margin-left:1rem;
    margin-right: 1rem;
}
  .home__bike{
    column-gap: 1.8rem;
  }
  .about__card{
    width: 150px;
  }

.services .box-container{
    grid-template-columns: auto;
    justify-content: center;
}
}
/* For medium devices */
@media screen and (min-width:568px) {
  .about__group{
    width: 350px;
    justify-self: center;
  }
  .features__map{
    left: 0;
    right: 0;
  }
  .featured__content{
    grid-template-columns: repeat(2,228px);
    column-gap: 3rem;
  }
  .charger__container{
    justify-content: center;
  }
  .services .box-container{
      grid-template-columns: repeat(2,1fr);

  }
}
/* For large devices */

@media screen and (min-width:768px) {
  .section{
    padding: 7rem 0 2rem;
  }
  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__toggle,
  .nav__close{
    display: none;
  }
  .nav__list{
    flex-direction: row;
    column-gap: 2rem;
    padding-top: 0;
  }
  .nav__link{
    font-size: var(--normal-font-size);
    text-transform: initial;
  }

  .about__container{
    grid-template-columns: repeat(2,1fr);
  }
  .services .box-container{
    grid-template-columns: repeat(3,218px);
    justify-content: center;
}
  .footer__container{
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (min-width:1024px) 
{
  .container{
    margin-left:auto;
    margin-right: auto;
}
  .shape__big{
    width: 500px;
    height: 500px;
  }
  .shape__small{
    width: 400px;
    height: 400px;
  }
  .home__container{
    padding-top: 2rem;
  }
  .home__img{
    height: 380px;
  }
  .home__bike{
    column-gap: 7rem;
  }
  .home__bike-icon{
    font-size:2rem;
    margin-bottom:1rem ;
  }
  .features__container{
    padding: 2rem 0 3rem;
  }
  .features__cards{
  width: 140px;
  }
  .about__container{
    column-gap: 6rem;
    align-items: center;
  }
  .about__group,
  .about__img{
    width: 480px;
  }
  .about__card{
    width: 198px;
    padding: 1rem 1.25rem;
  }
  .about__description{
    padding-right: 4rem;
    margin-bottom: 3rem;
  }
  .popular__container{
    width: 875px;
    padding-top: 3rem;
  }
  .popular__card{
    width: 258px;
    border-radius: 1.25rem;
    margin-bottom: 5rem;
  }

  .services .box-container{
        grid-template-columns: repeat(3,1fr);
        justify-content: center;

    }
  .featured__container{
    padding-bottom: 2.5rem;
  }
  .featured__filters{
    column-gap: 2rem;
    margin-bottom: 4.5rem;
  }
  .featured__item{
    width: 55px;
    height: 55px;
  }
  .featured__item img{
    width: 2rem;
}
  .featured__content{
    grid-template-columns: repeat(3,248px);
    gap: 4rem;
  }

  .appointment__container{
    grid-template-columns: repeat(2,1fr);
    column-gap: 5rem;
    padding-bottom: 3rem;
    align-items: center;
  }
  .appointment__img{
    height: 250px;
    width: 270px;
  }
  .footer__container{
    grid-template-columns: repeat(4,max-content);
    justify-content: space-between;
    padding-bottom: 5rem;
  }
  .testimonal__wrapper{
    row-gap: 12rem;
  }
  .box-container{
    padding-top:6rem ;
  }
}
